<div class="item last">
    <div class="header">Translation</div>
    <div class="menu">
        <a class="item last" href="/admin/translation">
            <i class="icon random"></i>
            Translation
        </a>
    </div>
</div>
