{% extends 'YaroslavcheSyliusTranslationPlugin::layout.html.twig' %}

{% set defaultLocale = service.getDefaultLocale() %}
{% set currentLocale = service.getCurrentLocale() %}

{% set title = currentLocale.name | trans([], null, defaultLocale.code) %}
{% set description = 'translation_overview' | trans({
    '%someData%': ''
}, pluginTranslationDomain, defaultLocale.code) %}

{% set localeMessageCatalogue = service.getSyliusLocaleMessageCatalogue(currentLocale).getMessageCatalogue() %}
{% set customMessageCatalogue = service.getSyliusLocaleMessageCatalogue(currentLocale).getCustomMessageCatalogue() %}
{% set fullMessageCatalogue = service.getSyliusLocaleMessageCatalogue(currentLocale).getFullMessageCatalogue() %}

{% block content %}
    {% include 'YaroslavcheSyliusTranslationPlugin::_header.html.twig' %}
    <div class="ui two column stackable grid">
        <div class="four wide column">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="ten wide column">
                        <a href="{{ path('yaroslavche_sylius_translation_plugin_dashboard') }}">
                            Dashboard
                            {#{{ 'translation_dashboard' | trans([], pluginTranslationDomain, defaultLocale.code) }}#}
                        </a>
                    </div>
                </div>
            </div>
            {% include 'YaroslavcheSyliusTranslationPlugin:Locale:_filter.html.twig' %}
        </div>
        <div class="twelve wide column">
            {% include 'YaroslavcheSyliusTranslationPlugin:Locale:_messages.html.twig' %}
        </div>
    </div>
{% endblock %}
